<meta charset="UTF-8">
<title>ADSA SP19 EOH</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<div id="content">
  <div id="tweet">
    {% with handles = get_flashed_messages(category_filter=['handleName']) %}
    {% if handles %}

    {% for message in handles %}
    {% if "Error" not in message[1]: %}
    <div id="profile">
      <img id="profilePhoto" />
      <h2 class="handle">@{{ message }}</h2>
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}

    {% with tweets = get_flashed_messages(category_filter=['tweet']) %}
    {% if tweets %}

    {% for message in tweets %}
    {% if "Error" not in message[1]: %}
    <div id="tweetTextContainer">
      <p id="tweetText">
        {{ message }}
      </p>
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}

  </div>


  <div id="setup">
    <form action="" method="post" role="form">
      <div id="setHandle">

        {{ form.csrf }}
        <span>@ <input type="text" id="handle" name="handle" /></span>
        <!-- <button value="nil" id="setHandleBtn" type="submit" name="setup">Select</button> -->
      </div>

      <div id="weightSliders">
        <span class="selector">User</span>
        <input type="range" min="0" max="1" value=".5" step="0.1" class="slider" name="selectorRange" id="selectorRange">
        <span class="selector">Corpus</span>
      </div>


      <div id="generate">
        <button value="false" id="generateBtn" name="generate">Generate</button>
      </div>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='css/index.css') }}" type="javascript"></script>
